MODEL_NAME=qwen3.7-max
MULTIPLE_MODEL_NAME=qwen3.5-plus
TEXT_IMAGE_MODEL_NAME=Qwen/Qwen-Image
DASHSCOPE_API_KEY=sk-************
DASHSCOPE_MODEL_NAME=text-embedding-v3
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# 嵌入模型
LOACAL_EMBDDING_MODEL=******

#重排序模型
RERANKER_MODEL=*************